@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
/* font-family: 'Comfortaa', cursive; */

:root {
    --primary-white : #ffffff;
    --primary-dark : rgba(2,10,32,0.9);
    --primary-red : rgb(220, 20, 60);
    --primary-dark-grey: rgb(102, 102, 102);
    --primary-green: green;
    --primary-light-grey: #f4f4f4;

}

#services{
    background: linear-gradient(90deg,rgb(223, 222, 222) ,rgb(255, 255, 255), rgb(214, 212, 212), rgb(255, 255, 255) );
  
}

.titel{
    text-align: center;
    color: var(--primary-red);
    padding: 20px;
    font-weight: 600;
}

.wrapper-titel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.activity-titel {
    height: 350px;
    width: 350px;
    margin: 20px;
    text-align: center;
    padding: 22px;
    font-size: 20px;
    font-weight: 500;
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    border-radius: 20px;
    box-shadow: 5px -5px rgb(218, 171, 171);
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(218, 171, 171);
    
   }

.elektro {
    background: url(etc.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    position: relative;
    cursor: pointer;
    margin: 10px;
}

.tüketici {
    background: url(tüket.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}


.imar {
    background: url(im.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}

.vergi {
    background: url(verg.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}

.sözlesme {
    background: url(soz.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}

.fikir {
    background: url(fikri.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
     margin: 10px;
}

.deniz {
    background: url(den.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}

.sirket {
    background: url(sirk.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
     margin: 10px;
}

.tip {
    background: url(tip.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}


.a{
    position: relative;
    overflow: hidden;
}

.kvkk {
    background: url(kisisel.jpg);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position:bottom;
    cursor: pointer;
    margin: 10px;
}

.aa{
    position: absolute;
    background-color: rgba(255, 136, 0, 0.5) ;
    width: 350px;
    height: 350px;
    bottom: -100%;
    transition: 0.5s;
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.a:hover .aa{
    bottom: 0;
}
.a:hover .activity-titel{
    box-shadow: 0 0 rgb(102, 102, 102);
}

.curtain{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    /* background-color: rgba(255, 136, 0, 1); */
    background: linear-gradient( 144deg , rgba(255, 136, 0, 0.7), rgb(238, 203, 128),  rgba(255, 136, 0, 1), rgb(255, 250, 250) );
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
}