@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
/* font-family: 'Cantarell', sans-serif !important; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');
/* font-family: 'Comfortaa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* font-family: 'Montserrat', sans-serif; */

:root {
    --primary-white : #ffffff;
    --primary-dark : rgba(2,10,32,0.9);
    --primary-red : rgb(220, 20, 60);
    --primary-dark-grey: rgb(102, 102, 102);
}
.wrapper {
    font-family: 'Comfortaa', cursive;
    background: linear-gradient( 135deg ,rgb(201, 205, 255), rgb(255, 250, 250), rgb(201, 205, 255), rgb(255, 250, 250) );
    
}

.aboutTitel{
    padding-top: 30px !important;
    margin: 0 !important;
    text-align: center;
    color: var(--primary-red);
    font-weight: 600;
}

.start {
padding: 30px;
font-size: 20px !important;

}

.punkt {
margin: 30px;
font-size: 20px !important;
}

#letzte_punkt{
    margin: 0;
    padding: 30px;
}

.summary {
margin: 20px;
}